@font-face {
  font-family: starjedi;
  src: url(./font/starjedi/Starjedi.ttf);
}

@font-face {
  font-family: starjhol;
  src: url(./font/starjedi/Starjhol.ttf);
}

body {
  background-image: url(/src/photos/swapi_background_image2.jpg);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}

h1 {
  font-family: "starjhol";
  color: yellow;
  background-image: url(/src/photos/swapi_header_background_image.jpg);
  background-size: cover;
  background-position: top;
  border-color: yellow;
}

table {
  font-family: starjedi;
  color: rgb(201, 201, 3);
}

thead {
  font-size: x-large;
}

.opacity-0 {
  opacity: 0 !important;
}
.opacity-1 {
  opacity: 0.2 !important;
}
.opacity-2 {
  opacity: 0.4 !important;
}
.opacity-3 {
  opacity: 0.6 !important;
}
.opacity-4 {
  opacity: 0.8 !important;
}
.opacity-5 {
  opacity: 1 !important;
}
